{% extends "base.html" %}
{% block title %}About Tubalar{% endblock %}

{% block content %}
<section class="about">

    <div class="about-header">
        <h1>Knock knock</h1>
        <p class="tagline">I’m a multi-media designer based in Sofia, with an interest in how sound shapes cognition. I've got language BEd, and a game design MA.</p>
    </div>

    <div class="about-skills">
        <h2>What I Do</h2>
        <ul>
            <li>Sound and music</li>
            <li>Game and 3D design</li>
            <li>Research and writing</li>
            <li>Painting and drawing (as a hobby)</li>
        </ul>
    </div>

    <div class="about-contact">
        <h2>Get In Touch</h2>
        <p>Feel free to reach out if you'd like to hire me, <a href="/contact">send a message</a>.</p>
    </div>

</section>
{% endblock %}